{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/product.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello you ugly bitch! ✅</h1>
    <div class="product-container">
        {% for product in products %}
            <div class="product" data-id="{{product.id}}">
                <div class="product-header">
                    <span class="product-id">{{product.id}}</span>
                    <span class="product-sku">{{product.sku}}</span>
                </div>
                <span class="product-name">{{product.name}}</span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
